table {
    width: 100%;
    border-collapse: collapse;
    display: block;
    overflow-x: auto;


}

table, td, th {
    border: 1px solid black;
    padding: 5px;


}

th {text-align: left;}

.bgtd {
   
    background-color: red;
   
}

.tooltip {
  position: relative;
  
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


input {
	display:inline;
	float:left;
	margin:5px;   
}

.updatebox {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 700px;
	height: 100%;
    background-color: #73AD21;
}

