/* I want my forms horizontal*/
form{display:inline;}

#loginform{
display: inline-block;
float:right;
}

#loginarea
{
/*hack to keep height from collapsing because it child is floated right*/
overflow:auto;
background-color: #9797bc;

}


/*css for ganttables specifically*/
table 
{
    width: 100%;
    border-collapse: collapse;
    display: block;
    overflow-x: auto;
}

table, td, th 
{
    border: 1px solid black;
    padding: 5px;
}

th {text-align: left;}
.bgtd {background-color: red;}

